In [1]:
import pandas as pd
import sqlite3

In [3]:
conn = sqlite3.connect("memory:")

In [4]:
result = pd.read_sql_query("SELECT * FROM users;", conn)
print(result)

DatabaseError: Execution failed on sql 'SELECT * FROM users;': no such table: users